:root{
    --principal: #403E66;
    --secundaria: #312F66;
    --fundo: #EDEDED;
    --container: #FFF;
    --estbtn: #999;
    --terceira:#C0C0C0;
}

body {
  user-select: none;
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
}

@media screen and (min-device-width: 1300px) {
  h1 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 50px;
  }

  h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--secundaria);
  }
 
}

@media screen and (max-device-width: 780px) {
  h1 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 30px;
  }

  
}

* {
  padding: 0;
  margin: 0;
}

.d-block w-100 {
  background-color: blue;
}

a:link,
a:link:hover,
a:visited:hover,
a:visited {
  text-decoration: none;
  color: #000;
}

.botao {
  text-align: center;
  width: 150px;
  height: 50px;
  font-weight: bold;
  border: none;
  color: white;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 400ms ease;
  background-color: var(--principal);
  outline: none;
  border-radius: 10px;
}

.botao:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--principal);
  box-shadow: inset 0 0 0 0.9px var(--principal);
}

.botao:focus {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
  border: 0px
}

.container-central {
  height: 100vh;
  width: 100vw;
  min-width: 1300px;
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: var(--fundo);
}

.container-conteudo-central {
  height: 100vh;
  width: 100%; 
  padding-top: 15px;
  box-sizing: border-box;
}

.container-conteudo-central form {
  height: 80%;
  width: 95%;
}

/* Formatações gerais de formulário */
.form-grupo-input {
  padding-top: 30px;
  position: relative;
}

.form .mensagem-erro {
  color: rgb(255, 38, 38);
  font-weight: 500;
  position: absolute;
  top: 0;
  left: 0;
}

input {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  padding-left: 15px;
  box-shadow: 1px 1px 2px var(--principal),
              1px 1px 2px var(--principal);
  outline: none;
  border: none;
  border: 2px solid var(--principal);
  color: black;justify-content: space-evenly;
}