body {
  padding: 0px;
  margin: 0px;
  background-color: var(--fundo);
}
.container-central {
  height: 100vh;
  width: 100vw;
  min-width: 1300px;
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: var(--fundo);
  margin-left: auto;
  margin-right: auto;
}
.menu {
  width: 100%;
  min-width: 250px;
  height: 100%;
  padding-left: 8px;
  padding-right: 8px;
  background-color: var(--container);
}
.menu img {
  height: 20%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.menu-pesquisar {
  display: grid;
  grid-template-columns: 20% 75%;
  height: 80px;
  margin-bottom: 35px;
  padding-top: 15px;
  box-sizing: border-box;
  margin-bottom: 50px;
  border-radius: 30px;
}
.menu-pesquisar:hover {
  cursor: pointer;
}
.menu-pesquisar img {
  width: 100%;
  height: 60px;
}
.menu-pesquisar h3 {
  color: var(--secundaria);
  font-size: 2em;
  font-weight: bold;
  text-align: justify;
  margin-top: 7px;
  margin-left: 13px;
}
.menu h5 {
  color: var(--secundaria);
  font-size: 1.2em;
  text-align: center;
}
.menu-itens {
  height: 65px;
  display: block;
  margin-top: 35px;
  margin-bottom: 35px;
  border-left: 20px solid var(--secundaria);
  padding-top: 8px;
  padding-left: 10px;
  box-sizing: border-box;
}
.menu-itens h3 {
  color: var(--secundaria);
  font-size: 2em;
  text-align: justify;
  font-weight: bold;
}
.direitos {
  width: 100%;
  border-top: var(--principal) solid 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 30px;
  box-sizing: border-box;
}

.subMenu {
  width: 351px;
  height: 113px;
  padding-left: 5px;
  padding-right: 15px;
  padding-top: 15px;
  box-sizing: border-box;
  position: absolute;
  background-color: var(--terceira);
  margin-left: -700px;
  opacity: 0;
  visibility: hidden;
}
.subMenu-itens {
  height: 30px;
  width: 340px;
  display: grid;
  grid-template-columns: 60% 40%;
  background-color: var(--fundo);
  margin-bottom: 15px;
}
.subMenu-itens h5 {
  color: var(--secundaria);
  font-size: 1.2em;
  font-weight: bold;
  text-align: right;
}
.subMenu-itens img {
  height: 30px;
  width: 30px;
}
.menu-itens:hover {
  background-color: var(--terceira);
  cursor: pointer;
}
.menu-itens:hover > .subMenu {
  opacity: 1;
  visibility: visible;
  margin-left: -32px;
  transition: 1s;
}

.main {
  height: 100%;
  width: 100%;
  min-width: 900px;
  background-color: var(--fundo);
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  grid-gap: 40px;
  justify-content: center;
}

.cardInformativo {
  height: 150px;
  display: grid;
  grid-template-columns: 35% 65%;
  background-color: var(--secundaria);
  border-radius: 15px;
}
.cardInformativo img {
  width: 100%;
  height: 130px;
}
.cardInformativo > div {
  width: 100%;
  height: 100%;
  padding-top: 18px;
  box-sizing: border-box;
}
.cardInformativo > div > h3{
  color: var(--fundo);
  font-size: 2.3em;
  font-weight: bold;
  text-align: left;
}
.cardInformativo > div > p{
  color: var(--fundo);
  font-size: 1.3em;
  font-weight: bold;
  text-align: left;
}