
#cep {grid-area: cep;}
#numero {grid-area: numero;}
#complemento {grid-area: compl;}
#rua {grid-area: rua;}
#bairro {grid-area: bairro;}
#estado {grid-area: estado;}
#cidade {grid-area: cidade;}

.form-editar-endereco {
    flex: 4;
    display: grid;
    padding-top: 0px;
    column-gap: 100px;
    justify-content: center;
    grid-template-areas:
                        "cidade estado"
                        "rua bairro"
                        "numero compl"
                        "cep botao";
}

.form-editar-endereco .form-grupo-input input {
    width: 280px;
}