.titulo-principal {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 85% 10%;
    justify-items: center;
}

.titulo-principal > figure {
  height: 100px;
  width: 100px;
  background-color: var(--secundaria);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-principal > figure > img {
  height: 70px;
  width: 70px;
}