.menu-consultas{
    width: 250px;
    min-height: 300px;
    height: auto;
    background-color: var(--container);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    border-radius: 0px 30px 30px 0px;
    display: grid;
    /* row-gap: 10px; */
    grid-template-rows: 8vh 20vh 8vh 8vh 8vh 8vh;
    grid-template-areas: 
    "h1-menu"
    "foto-menu-consulta"
    "nome-menu-consulta"
    "elemento-home-menu"
    "elemento-agendamentos-menu"
    "elemento-avaliacao-menu";
}

#h1-menu 
    {grid-area: h1-menu;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.5);
    /* background-color: red; */
}

#foto-menu-consulta 
    {grid-area: foto-menu-consulta;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: green; */
    }

#nome-menu-consulta 
    {grid-area: nome-menu-consulta; 
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -50px;
    color: var(--principal);
    /* background-color: yellow; */
}
#elemento-home-menu 
    {grid-area: elemento-home-menu; 
    display: flex;
    align-items: center;
    font-weight: bold;
    /* justify-content: center; */
    /* background-color: black; */
}

#elemento-agendamentos-menu 
    {grid-area: elemento-agendamentos-menu; 
    display: flex;
    align-items: center;
    font-weight: bold;
    /* justify-content: center; */
    /* background-color: blue;   */
}

#elemento-avaliacao-menu 
    {grid-area: elemento-avaliacao-menu; 
    display: flex;
    align-items: center;
    font-weight: bold;
    /* justify-content: center; */
     /* background-color: fuchsia;  */
}

#ihome, #icalendario, #iavaliacao{
    margin-left: 10px;
    margin-right: 10px;
}

  #elemento-home-menu{
    height: 30px;
    align-items: center;
    font-weight: bold;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  #elemento-home-menu:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: var(--principal);
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  #elemento-home-menu:hover:before, #elemento-home-menu:focus:before, #elemento-home-menu:active:before {
    right: 0;
  }

  #elemento-agendamentos-menu{
    height: 30px;
    align-items: center;
    font-weight: bold;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  #elemento-agendamentos-menu:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: var(--principal);
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  #elemento-agendamentos-menu:hover:before, #elemento-agendamentos-menu:focus:before, #elemento-agendamentos-menu:active:before {
    right: 0;
  }

  #elemento-avaliacao-menu{
    height: 30px;
    margin-bottom: 110px;
    align-items: center;
    font-weight: bold;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  #elemento-avaliacao-menu:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: var(--principal);
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  #elemento-avaliacao-menu:hover:before, #elemento-avaliacao-menu:focus:before, #elemento-avaliacao-menu:active:before {
    right: 0;
  }