#ver-hospitais-servicos {
  width: 350px;
  height: 100%;
  background-color: var(--container);
  position: absolute;
  z-index: 1010;
  right: 0;
  display: flex;
  flex-direction: column;
  box-shadow: -2px -2px 25px rgba(65, 65, 65, 0.459);
}

#fechar-ver-hospitais {
  align-self: flex-end;
  padding-right: 10px;
  padding-top: 10px;
  cursor: pointer;
}

#ver-hospitais-servicos h1 {
  font-size: 40px;
  font-weight: 500;
  margin-left: 12px;
}

#ver-hospitais-servicos ul {
  margin-left: 70px;
  list-style-type: square;
  margin-top: 20px;

}

#ver-hospitais-servicos ul li {
  margin-bottom: 15px;
}

#container-conteudo-cms {
  width: 92%;
  min-height: 480px;
  height: auto;
  background-color: var(--container);
  margin: 0 auto;
  overflow: auto;
  border-radius: 20px;
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#btn-add-servicos {
  width: 92%;
  height: 85px;
  background-color: var(--principal);
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

#btn-add-servicos h1 {
  color: var(--container);
  font-weight: bold;
  font-size: 25px;
  margin-top: 5px;
  cursor: pointer;
}

#btn-add-servicos h1:active {
  color: var(--fundo);
}

#container-card-servicos {
  width: 100%;
  height: auto;
  /* background-color: red; */
  margin: 0 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-servico-servicos {
  height: 270px;
  width: 280px;
  position: relative;
  border: solid 1px var(--principal);
  box-shadow: 5px 5px 10px rgb(95, 95, 95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 40px;
}

.configuracoes-servicos {
  align-self: flex-end;
  position: absolute;
  top: -5%;
  margin-right: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.menu-config-servicos {
  width: 100px;
  height: auto;
  background-color: var(--fundo);
  position: absolute;
  top: 10%;
  right: 5%;
  box-sizing: border-box;
  padding: 6px 10px;
  z-index: 1000;
  list-style: none;
}

.menu-config-servicos h2 {
  font-size: 13px;
  text-align: left;
  cursor: pointer;
}

.card-imagem-servicos,
.card-imagem-servicos img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
}

.card-servico-servicos h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6em;
  font-weight: 500;
  text-align: center;
  font-weight: bold;
}

.card-descricao {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 20px;
  padding: 10px;
  transition: 0.5s;
  opacity: 0;
  pointer-events: none;
  z-index: 999;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.card-descricao p {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  pointer-events: all;
}

.card-descricao p::-webkit-scrollbar {
  width: 0px;
}

.ver-mais,
.btn-descricao {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 10px;
  right: 10px;
  outline: none;
  z-index: 10;
  cursor: pointer;
}

.ver-mais {
  opacity: 0;
}

.ver-mais:checked ~ .btn-descricao {
  box-shadow: 0 0 0 500px var(--principal);
  transform: rotate(225deg);
}

.ver-mais:checked ~ .card-descricao {
  opacity: 1;
  transition-delay: 0.5s;
}

.btn-descricao {
  pointer-events: none;
  border-radius: 50%;
  transition: 0.5s;
  font-size: 2em;
  line-height: 34px;
  box-shadow: 0 0 0 black;
  background: var(--principal);
  color: #fff;
  font-weight: bold;
  z-index: 999;
  text-align: center;
}

.titulo-card-cadastro-servicos {
  flex: 2.5;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.titulo-card-cadastro-servicos figure {
  height: 200px;
  width: 100%;
  /* background-color: green; */
  /* border-radius: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.titulo-card-cadastro-servicos figure img {
  width: 400px;
  height: 200px;
}

#container-form-servicos {
  flex: 2;
  height: 100%;
}

#container-form-servicos h3{
  color: var(--titulo);
  font-size: 16px;
  /* margin: 0; */
  margin-top: 14px;
}

#container-form-servicos textarea {
  margin-top: 0px;
  height: 140px;
  resize: none;
  padding-top: 10px;
  background-color: var(--fundo);
  border-width: 1px;
}

#img-cadastro-servico {
  width: 220px;
  height: 200px;
  /* border: 1px solid var(--principal); */
  background-color: var(--fundo);
  margin: 20px auto;
  border-radius: 5px;
  transition: 100ms ease all;
}

#img-cadastro-servico:hover {
  background-color: var(--principal);
  cursor: pointer;
}

#img-cadastro-servico figure img {
  width: 220px;
  height: 200px;
  padding: 5px;
}

input[type="file"] {
  border: 0;
  box-shadow: 0px 0px 0px;
  display: block;
}

#imagem-cadastro-servico {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

#imagem-cadastro-servico label:nth-child(1) {
  font-weight: bold;
}

#imagem-cadastro-servico label:nth-child(2) {
  font-weight: bold;
  color: var(--principal);
  cursor: pointer;
  margin-left: 20px;
}

#imagem-cadastro-servico label:nth-child(2):active {
  color: #312f4b;
}

#imagem-cadastro-servico label:nth-child(2):hover {
  border-bottom: 1px solid var(--secundaria);
}

#container-botoes-servicos {
  width: 100%;
  height: auto;
  /* background: pink; */
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

#loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
