.botao-principal {
    text-align: center;
    width: 150px;
    height: 50px;
    font-weight: bold;
    border: none;
    color: white;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
    background-color: var(--principal);
    outline: none;
    border-radius: 10px;
  }
  
  .botao-principal:hover {
    background-color: var(--secundaria);
    color: var(--container);
    box-shadow: inset 0 0 0 0.9px var(--principal);
  }
  
  .botao-principal:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    border: 0px
  }