body {
  padding: 0px;
  margin: 0px;
  background-color: var(--fundo);
}
.conteiner-adicionar-info-pessoais {
  height: 100vh;
  width: 100vw;
  min-width: 1300px;
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: var(--fundo);
  margin-left: auto;
  margin-right: auto;
}
.menu {
  width: 100%;
  min-width: 250px;
  height: 100%;
  padding-left: 8px;
  padding-right: 8px;
  background-color: var(--container);
}
.menu img {
  height: 20%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.menu-pesquisar {
  display: block;
  height: 80px;
  margin-bottom: 35px;
  background-color: var(--secundaria);
  padding-top: 15px;
  box-sizing: border-box;
  margin-bottom: 50px;
  border-radius: 30px;
}
.menu-pesquisar h3 {
  color: var(--fundo);
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
.menu h5 {
  color: var(--secundaria);
  font-size: 1.2em;
  text-align: center;
}
.menu-itens {
  display: block;
  margin-top: 35px;
  margin-bottom: 35px;
}
.menu-itens h3 {
  color: var(--secundaria);
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
.direitos {
  width: 100%;
  border-top: var(--principal) solid 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 30px;
  box-sizing: border-box;
}

.subMenu {
  width: 360px;
  height: 160px;
  background-color: var(--secundaria);
  padding-left: 5px;
  padding-right: 15px;
  padding-top: 15px;
  box-sizing: border-box;
  position: absolute;
  margin-left: -700px;
  margin-top: -13px;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
}
.subMenu-itens {
  height: 30px;
  width: 350px;
  display: grid;
  grid-template-columns: 60% 40%;
  background-color: var(--fundo);
  border-radius: 20px;
  margin-bottom: 15px;
}
.subMenu-itens h5 {
  color: var(--secundaria);
  font-size: 1.2em;
  font-weight: bold;
  text-align: right;
}
.subMenu-itens img {
  height: 30px;
  width: 30px;
}
.menu-itens:hover > .subMenu {
  opacity: 1;
  visibility: visible;
  margin-left: -12px;
  transition: 1s;
}
main {
  height: 100%;
  width: 100%;
  min-width: 900px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 3%;
  box-sizing: border-box;
}
.titulo-principal {
  width: 100%;
  height: 15%;
  display: grid;
  grid-template-columns: 90% 10%;
}
.titulo-principal h1 {
  color: var(--secundaria);
  text-align: center;
  font-style: oblique;
  font-size: 2.7em;
  letter-spacing: 1px;
  margin-bottom: 60px;
  margin-top: 15px;
}
.titulo-principal > figure {
  height: 100px;
  width: 100px;
  background-color: var(--secundaria);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-principal > figure > img {
  height: 70px;
  width: 70px;
}
.conteiner-entrada-dados {
  width: 95%;
  height: 80%;
  background-color: var(--container);
  padding-bottom: 50px;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 45% 55%;
}
.conteiner-entrada-dados > div {
  height: 100%;
  width: 100%;
  padding-top: 100px;
  box-sizing: border-box;
}
.conteiner-entrada-dados > div > figure {
  height: 250px;
  width: 250px;
  background-color: var(--secundaria);
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteiner-entrada-dados > div > figure > img {
  height: 200px;
  width: 200px;
}
.conteiner-entrada-dados > div > h2 {
  text-align: center;
  font-size: 2.5em;
  font-weight: bolder;
  color: var(--secundaria);
}
.conteiner-entrada-dados > form {
  height: 100%;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.conteiner-entrada-dados > form > div {
  width: 70%;
  display: grid;
  grid-template-columns: 56% 40%;
}
#cnpj {
  width: 100%;
}
#ie {
  width: 100%;
  margin-left: 22px;
}
#dataAbertura,
#email,
#razaoSocial,
#telefone,
#nomeFantasia {
  width: 70%;
}
#telefone {
  margin-bottom: 20px;
}
input {
  padding-left: 10px;
  box-sizing: border-box;
  border: var(--secundaria) 2px solid;
  border-radius: 6px;
  color: var(--secundaria);
  font-size: 1.5em;
  height: 60px;
}
.proximo {
  border-radius: 10px;
  height: 60px;
  width: 60px;
  margin-left: 80%;
  margin-top: -75px;
}
.proximo > figure {
  background-color: var(--secundaria);
  border-radius: 10px;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proximo > figure > img {
  width: 50px;
  height: 50px;
}
.proximo > figure > img:hover {
  cursor: pointer;
}
