.container-consulta-home{
  width: 1050px;
  height: 97%;
  display: grid;
  row-gap: 20px; 
  column-gap: 20px;
  grid-template-rows: 30vh 12vh 30vh 15vh;
  grid-template-areas:  
  "bem-vindo bem-vindo bem-vindo informacoes-consultas informacoes-consultas"
  "consultas-hoje consultas-hoje consultas-hoje informacoes-consultas informacoes-consultas"
  "consultas-hoje consultas-hoje consultas-hoje apresentacao-avaliacao apresentacao-avaliacao" 
  "consultas-hoje consultas-hoje consultas-hoje apresentacao-avaliacao apresentacao-avaliacao";
}

#bem-vindo {
  grid-area: bem-vindo;
  background-color: var(--principal);
  border-radius: 20px;
  display: grid;
  grid-template-areas: "img-supermedico subtext-bemvindo";
}
#consultas-hoje{
  grid-area: consultas-hoje;
  background-color: var(--container);
  border-radius: 20px;
}
#informacoes-consultas{
  grid-area: informacoes-consultas;
  background-color: var(--container);
  border-radius: 20px;
}
#apresentacao-avaliacao{
  grid-area: apresentacao-avaliacao; 
  background-color: var(--container);
  border-radius: 20px;
}

.img-supermedico{
  grid-area: img-supermedico;
  background-color: red;
}
.subtext-bemvindo{
  grid-area: subtext-bemvindo;
  background-color:green;
} 