h5{
  font-weight: bold;
}

p{
  margin-bottom: 3em;
  font-style: italic;
}

.container-consulta-home{
  width: 1050px;
  height: 97%;
  display: grid;
  /* background-color: red; */
  row-gap: 20px; 
  column-gap: 20px;
  grid-template-rows: 200px 85px 140px 150px;
  grid-template-columns: 35% 35% 26%;
  grid-template-areas:  
  "bem-vindo bem-vindo  informacoes-consultas"
  "consultas-hoje consultas-hoje informacoes-consultas"
  "consultas-hoje consultas-hoje apresentacao-avaliacao" 
  "consultas-hoje consultas-hoje apresentacao-avaliacao";
}
                          /* *************** CARDS DO CONTAINER *************** */
#bem-vindo {
  grid-area: bem-vindo;
  background-color: var(--principal);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-areas: "img-supermedico subtext-bemvindo";  
}
#consultas-hoje{
  grid-area: consultas-hoje;
  background-color: var(--container);
  border-radius: 20px;
  gap: 10px;
  grid-template-rows: 70px 300px 30px;
  display: grid;
  grid-template-areas: 
  "titulo-card-consultashoje titulo-card-consultashoje titulo-card-consultashoje"
  "card-previa-consulta card-previa-consulta card-previa-consulta"
  "mais-consulta mais-consulta mais-consulta"
  ;
  
}
#informacoes-consultas{
  grid-area: informacoes-consultas;
  background-color: var(--principal);
  border-radius: 20px;
}
#apresentacao-avaliacao{
  grid-area: apresentacao-avaliacao; 
  background-color: var(--principal);
  border-radius: 20px;
}
                          /* *************** Elementos do card Bem-vindo *************** */
.img-supermedico{
  grid-area: img-supermedico;
  /* background-color: red; */
}
.subtext-bemvindo{
  grid-area: subtext-bemvindo;
  color: white;
} 
 #supermedico{
  width: 250px;
  height: 225px;
  margin-left: 15px;
  margin-top: -25px;
} 
                          /* *************** Elementos do card Consultas Hoje *************** */
.titulo-card-consultashoje{
  grid-area: titulo-card-consultashoje;
  color: rgba(0, 0, 0, 0.8);
  margin-left: 10px;
  margin-top: 10px;
  /* background-color: red;  */
}

.card-previa-consulta{
  grid-area: card-previa-consulta;
   background-color: blue; 
}

.mais-consulta{
  grid-area: mais-consulta;
  background-color: fuchsia;
}

/* .card-previa{

} */


