.consulta-cadastro {
    min-height: 100px;
    height: auto;
    width: 95%;
    background-color: white;
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px 50px;
}

.conjunto-dados {
    min-height: 100px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.titulo-conjunto-dados {
    text-align: left;
    border-bottom: 2px solid var(--principal);
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.titulo-conjunto-dados svg:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.dado {
    min-height: 70px;
    height: auto;
    width: 50%;
    /* background-color: green; */
    padding: 10px;
    padding-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    display: flex;
}

.dado span {
    font-weight: bold;
    color: var(--principal);
    text-transform: capitalize;
    margin-right: 15px;
}

.dado-telefones {
    height: 200px;
    width: 250px;
    box-shadow: 5px 5px 10px rgb(192, 192, 192);
    border-radius: 10px;
}

.dado-telefones div {
    height: 40px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--principal);
}