.botao-secundario {
    text-align: center;
    width: 150px;
    height: 50px;
    font-weight: bold;
    border: solid 1px var(--principal);
    color: var(--principal);
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
    background-color: var(--container);
    outline: none;
    border-radius: 10px;
  }
  
  .botao-secundario:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--principal);
    /* box-shadow: inset 0 0 0 0.9px var(--principal); */
    /* border: 1px solid var(--principal); */
  }
  
  /* .botao-secundario:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    border: 0px;
  } */