@media screen and (max-device-width: 780px) {
  #container-menu {
    display: none;
  }

  #container-menu-mobile {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    background-color: var(--container);
  }

  #menu-mobile {
    width: 25%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  #menu-mobile img {
    width: 50px;
    height: 50px;
    position: fixed;
    background-color: white;
    border: 5px solid #fff;
    border-radius: 10px;
  }

  #icone-telefone {
    width: 25%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #icone-telefone img {
    width: 40px;
    height: 40px;
  }

  #logo-mobile {
    width: 50%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  #logo-mobile img {
    width: 135px;
    height: 128px;
  }

  #menu-itens-mobile{
    width: 70%;
    height: 100%;
    background-color: var(--container);
    margin-top: 120px;
    transition: 1s;
    z-index: 999;
    position: fixed;
    display: none;
  }

  #menu-itens-mobile ul li{
    font-size: 20px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: solid 3px var(--principal);
    list-style: none;
  }

  .carousel-control-prev-icon::after {
    box-sizing: content-box;
  }

  span.carousel-control-next-icon,
  span.carousel-control-prev-icon {
    border-radius: 50% 50%;
    padding: 20px;
    margin-left: -10px;
    background-image: url("../../Assets/next.png");
  }

  span.carousel-control-prev-icon {
    margin-left: 0px;
    margin-right: -10px;
    background-image: url("../../Assets/prev.png");
  }

  .d-block {
    height: 200px;
    visibility: hidden;
  }

  .d-block img {
    width: auto;
    height: auto;
  }

  .containerBotao {
    width: auto;
    height: auto;
    margin-left: 380px;
  }

  .botao{
    animation: animationButtonSlider linear 2.5s;
  }

  .carousel-indicators li {
    background-color: #424242;
  }

  .txtSlider,
  .txtSlider2,
  .imgSlider {
    width: 40%;
    height: 100%;
    position: absolute;
  }

  .txtSlider,
  .txtSlider2{
    width: 200px;
    margin-left: -50px;
  }

  .txtSlider h1,
  .txtSlider2 h1 {
    font-family: "Red Hat Display", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-left: 100px;
    margin-top: 30%;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #403e66;
    animation: animationTxtSlider linear 1s;
  }

  .txtSlider2 h1 {
    margin-top: 20%;
    font-size: 20px;
  }

  .txtSlider h2,
  .txtSlider2 h2 {
    font-family: "Red Hat Display", sans-serif;
    font-style: italic;
    font-size: 12px;
    font-weight: none;
    text-align: center;
    margin-left: 100px;
    color: rgb(58, 58, 58);
    animation: animationTxtSlider linear 2s;
  }

  @keyframes animationTxtSlider {
    0% {
      opacity: 0;
      margin-left: 300px;
    }
    55% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes animationButtonSlider{
    0%{
      opacity: 0;
    }
    50%{
      opacity: 0;
    }
    90%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

  .imgSlider {
    width: 60%;
    left: 40%;
    display: flex;
    align-items: center;
    background-color: lawngreen;
  }

  .imgSlider img {
    width: 100%;
    height: 200px;
  }

  #servicos {
    width: 100%;
    height: auto;
    background-color: var(--fundo);
  }

  #tituloSection {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    align-content: space-around;
  }

  #tituloSection h1 {
    color: #3f3f3f;
    font-weight: bolder;
    width: 80%;
  }

  #tituloSection label {
    color: #3f3f3f;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 10px;
  }

  #tituloSection form select {
    margin-left: 10px;
    align-self: center;
  }

  .slick-dots li{
    display: none;
  }

  .slick-prev:before, .slick-next:before{
    color: #000;
    font-size: 40px;
    
  }

  .slick-next:before{
    /* margin-left: -20px; */
  }

  .slick-prev:before{
    margin-left: -20px;
  }

  #carrossel {
    width: 100%;
    height: 420px;
    margin: 0 auto;
    /* margin-top: -20px; */
  }

  .cardCarousel{
    width: 100px;
    height: auto;
  }

  .card{
    width: 350px;
    height: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .card:hover{
    box-shadow: 10px 10px 10px rgb(129, 129, 129);
  }

  .card h1{
    width: 200px;
    font-size: 30px;
    font-family: 'Actor', sans-serif;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 10px;
    border-bottom: 2px solid var(--principal);
  }

  .card img{
    width: 100%;
    height: 200px;
  }

  .card p{
    font-size: 16px;
    text-align: center;
    font-family: "Roboto Slab", serif;
    border-bottom: 2px solid var(--fundo);
  }

  #hospitais {
    width: 100%;
    height: 550px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  #listaEndereco {
    width: 100%;
    height: inherit;
    background-color: var(--principal);
    /* border-radius: 20px; */
  }

  #container-mapa {
    display: none;
  }

  #container-mapa iframe {
    display: none;
  }

  #listaEndereco h1 {
    font-weight: bolder;
    color: #fff;
    margin-left: 30px;
    margin-top: 50px;
  }

  #containerEnderecos {
    width: 380px;
    height: 400px;
    /* margin-left: 30px; */
    margin-top: 20px;
    overflow-y: auto;
    /* border: solid 1px #000; */
  }

  ::-webkit-scrollbar-track {
    background-color: var(--white);
  }

  ::-webkit-scrollbar {
    width: 6px;
    background: var(--white);
  }

  ::-webkit-scrollbar-thumb {
    background: #8a8a8a;
  }

  .enderecos {
    width: 300px;
    height: 85px;
    background-color: var(--container);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 9px;
    box-sizing: border-box;
  }

  .enderecos span {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: #000;
    /* font-weight: 500; */
  }

  .enderecos h3 {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
  }

  #seta {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: 45px;
    cursor: pointer;
    opacity: 0;
  }

  .enderecos:hover > #seta {
    opacity: 1;
    transition: 0.3s;
    margin-left: 40px;
  }

  #informacao {
    width: 250px;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }

  #container-mapa {
    width: 45%;
    border-radius: 100px 0 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #mapa {
    width: 500px;
    height: 460px;
    border: 0;
    border-radius: 10px;
  }

  #container-oferecimento,
  #oferecimento {
    width: 100%;
    min-height: 10px;
    height: auto;
    background-color: var(--fundo);
    box-sizing: border-box;
  }

  #container-oferecimento h1 {
    font-weight: bolder;
    text-align: center;
    color: #3f3f3f;
    padding-top: 10px;
    margin-bottom: 70px;
  }

  #oferecimento {
    width: 100%;
    min-height: 10px;
    height: auto;
    margin: 0 auto;
    margin-top: -50px;
    /* background-color: green; */
  }

  #container-card-oferecimento {
    width: 100%;
    height: inherit;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .card-oferecimento {
    width: 330px;
    height: 300px;
    background-color: var(--container);
    /* margin-top: 10px; */
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px rgb(129, 129, 129);
    border-radius: 15px;
  }

  .img-card-oferecimento {
    width: inherit;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img-card-oferecimento img {
    width: 150px;
    height: 150px;
  }

  .card-oferecimento h1 {
    font-size: 28px;
    text-align: center;
    color: #3f3f3f;
    font-weight: 540;
  }

  #covid {
    width: 100%;
    min-height: 10px;
    height: auto;
    background-color: var(--principal);
  }

  #container-covid {
    width: 100%;
    height: inherit;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }

  #img-covid {
    display: none;
  }

  #img-covid h1,
  #tituloMobile {
    position: absolute;
    color: #fff;
    font-weight: bolder;
    text-align: center;
  }

  #tituloMobile {
    margin-bottom: 20px;
    font-size: 38px;
  }

  #dicas-covid {
    width: 100%;
    height: inherit;
    margin-top: 50px;
    display: flex;
    align-items: center;
  }

  #container-card-dicas {
    width: 100%;
    height: 80%;
    margin-bottom: 40px;
    margin-left: -20px;
    /* background-color: khaki; */
    display: grid;
    grid-template-columns: 200px 200px;
  }

  .card-dica {
    width: 200px;
    height: 200px;
    /* background-color: #000; */
    margin: 0 auto;
    /* margin-top: 10px; */
    display: flex;
    flex-direction: column;
  }

  .card-dica:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }

  .card-dica h2 {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    color: var(--fundo);
  }

  .icone-dica {
    width: inherit;
    height: 70%;
    /* background-color: lawngreen; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icone-dica img {
    width: 110%;
    height: 155%;
  }

  #sobre {
    width: 100%;
    min-height: 10px;
    height: auto;
    display: flex;
    flex-direction: row;
  }

  #img-fundo-sobre {
    display: none;
  }

  #infrm-sobre {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  #infrm-sobre p {
    text-align: justify;
    padding: 10px 20px;
  }

  #infrm-sobre h1 {
    text-align: center;
    font-weight: bolder;
    margin-top: 10px;
  }

  #container-card-sobre {
    width: 100%;
    min-height: 10px;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .card-sobre {
    width: 280px;
    height: 240px;
    background-color: var(--principal);
    display: flex;
    flex-direction: column;
    border-radius: 36px 0px 36px 0px;
    margin-bottom: 20px;
  }

  .card-sobre img {
    width: 110px;
    height: 110px;
    margin: 0 auto;
    margin-top: 5px;
  }

  .card-sobre h1 {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: var(--fundo);
    text-align: center;
  }

  #texto {
    width: 100%;
    height: 75px;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    color: var(--fundo);
    /*  */
    line-height: 20px;
    margin-top: -10px;
    overflow: hidden;
  }

  #texto p {
    text-align: center;
  }

  #app {
    width: 100%;
    min-height: auto;
    height: auto;
    background-color: var(--fundo);
  }

  #container-app {
    width: 100%;
    height: inherit;
    margin: 0 auto;
  }

  #titulo {
    width: 100%;
    height: inherit;
    /* margin-top: 20px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: greenyellow; */
  }

  #titulo img {
    width: 340px;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 20px;
  }

  #container-titulo-app {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #container-titulo-app h1 {
    font-weight: bolder;
    text-align: center;
    margin-top: 10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3f3f3f;
  }

  #container-titulo-app span {
    display: none;
  }

  #celular {
    width: 40%;
    height: inherit;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: hotpink; */
  }

  #celular img {
    width: 130px;
    height: 330px;
  }

  #container-vantagens {
    width: 60%;
    height: 350px;
    /* margin-bottom: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: indigo; */
  }

  #container-vantagens h2,
  #vantagens h3 {
    font-size: 10px;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
  }

  #container-vantagens h2{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
  }

  #vantagens {
    width: 200px;
    height: 70px;
    background-color: var(--principal);
    /* margin-top: 20px; */
    margin-bottom: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
  }

  #vantagens:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }

  #vantagens h3 {
    color: var(--fundo);
    font-weight: 500;
    font-size: 18px;
    
  }

  footer {
    width: 100%;
    height: 100px;
    background-color: var(--container);
    border-top: 1px solid #000;
  }

  #container-footer {
    width: 100%;
    height: inherit;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }

  #titulo-footer {
    width: 50%;
    height: inherit;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }

  #titulo-footer h2 {
    font-weight: bolder;
    font-size: 19px;
  }

  #contatos-footer {
    width: 50%;
    height: inherit;
  }

  #contatos-footer h2 {
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
  }

  .container-contatos {
    width: 100%;
    height: 30px;
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .container-contatos h3 {
    font-size: 15px;
    margin-left: 10px;
  }

  .container-contatos img {
    width: 25px;
    height: 25px;
  }
}
